<!DOCTYPE html>
<html>
<head>
    <title>Přihlášení</title>
</head>
<body>
    <h1>Přihlášení</h1>
    <form method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" required>

        <label for="password">Heslo:</label>
        <input type="password" id="password" name="_password" required>

        <button type="submit">Přihlásit</button>
    </form>
</body>
</html>

<link rel="stylesheet" href="/css/styles.css">
