<!DOCTYPE html>
<html>
<head>
    <title>Registrace</title>
</head>
<body>
    <h1>Registrace</h1>
    {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}
        <button type="submit">Registrovat</button>
    {{ form_end(registrationForm) }}
</body>
</html>

<link rel="stylesheet" href="/css/styles.css">
